header {
background-color: #6928DE;
color: black;
text-align: center;
padding: 10px;
font-weight: 500;
}

h1 {
font-weight: 500;
text-align: center;
padding: 10px;
}

h2 {
background-color: #2896DE;
color: #E1D772;
font-weight: 250;
text-align: center;
padding: 10px;
}

h3 {
font-weight: 200;
padding: 10px;
text-align: center;
color:black;
}

figure {
text-align: center;
}

#container {
text-align: center;
font-weight: 200;
}

.container-links {
font-weight: 200;
}



#navbar {
overflow: hidden;
background-color: grey;
border-bottom: 1px solid grey;
}

#navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 10px 10px;
text-decoration: none;
}

#navbar a:hover {
background-color: purple;
color: pink;
}


.landing_page {
float: right;
margin-top: 60%;
margin-bottom: 20px;
}

